
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhengque:before { content: "\e600"; }
.icon-cuowu:before { content: "\e601"; }
.icon-daliebiao:before { content: "\e602"; }
.icon-dasuolvetuliebiao:before { content: "\e603"; }
.icon-pubuliu:before { content: "\e604"; }
.icon-liebiao:before { content: "\e605"; }
.icon-guolv:before { content: "\e606"; }
.icon-jia:before { content: "\e607"; }
.icon-jian:before { content: "\e608"; }
.icon-wenbenshuru:before { content: "\e609"; }
.icon-zuoshang:before { content: "\e60a"; }
.icon-xiangshang:before { content: "\e60b"; }
.icon-youshang:before { content: "\e60c"; }
.icon-zuoxia:before { content: "\e60d"; }
.icon-xiangxia:before { content: "\e60e"; }
.icon-youxia:before { content: "\e60f"; }
.icon-xiangzuo:before { content: "\e610"; }
.icon-xiangyou:before { content: "\e611"; }
.icon-suohui:before { content: "\e612"; }
.icon-suoxiao:before { content: "\e613"; }
.icon-fangda:before { content: "\e614"; }
.icon-yidong:before { content: "\e615"; }
.icon-quanping:before { content: "\e616"; }
.icon-suoxiao1:before { content: "\e617"; }
.icon-fangda1:before { content: "\e618"; }
.icon-xinjianchuangkou:before { content: "\e619"; }
.icon-xinchuangkoudakai:before { content: "\e61a"; }
.icon-wodeshouji:before { content: "\e61b"; }
.icon-taocan:before { content: "\e61c"; }
.icon-shangjiantou:before { content: "\e622"; }
.icon-you:before { content: "\e627"; }
.icon-tiaozhuanwaibulianjie:before { content: "\e621"; }
.icon-youxiangyingyeting:before { content: "\e61d"; }
.icon-xjiantou:before { content: "\e623"; }
.icon-askda:before { content: "\e624"; }
.icon-askwen:before { content: "\e625"; }
.icon-chakan:before { content: "\e620"; }
.icon-flag:before { content: "\e61e"; }
.icon-faq:before { content: "\e61f"; }
.icon-faq1:before { content: "\e626"; }
